<%
  /*
    color: icon stroke color
    isLoggedIn: logged in or not
    type: type of user
    dash: created dashboard redirection value
  */
  if(!color)
  {
    var color="#000000";
  }
  dash=["student","coordinator"].includes(type)?"student":type;
%>
<div class="top-bar">
  <a class="nav-item menu" id="nav-menu" href="" onclick="event.preventDefault();document.getElementById('nav-bar').classList.toggle('nav-bar-active');">
    <div class="icon">
      <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </div>
    <div class="text">Menu</div>
  </a>
</div>
<nav class="nav-bar" id="nav-bar">
  <div class="left">
    <%
      if(isLoggedIn)
      {
        %>
          <a class="nav-item" id="nav-dashboard" href="/<%=dash%>/dashboard">
            <div class="icon">
              <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
            </div>
            <div class="text">Dashboard</div>
          </a>
        <%
      }
      else
      {
        %>
          <a class="nav-item" id="nav-home" href="/home">
            <div class="icon">
              <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            </div>
            <div class="text">Home</div>
          </a>
        <%
      }
    %>
    <a class="nav-item" id="nav-statistics" href="/statistics">
      <div class="icon">
        <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
      </div>
      <div class="text">Statistics</div>
    </a>
    <a class="nav-item" id="nav-gallery" href="/gallery">
      <div class="icon">
        <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
      </div>
      <div class="text">Gallery</div>
    </a>
    <a class="nav-item" id="nav-team" href="/team">
      <div class="icon">
        <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
      </div>
      <div class="text">Team</div>
    </a>
  </div>
  <div class="right">
    <a class="nav-item" id="nav-about" href="/about">
      <div class="icon">
        <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
      </div>
      <div class="text">About Us</div>
    </a>
    <a class="nav-item" id="nav-contact" href="/contact">
      <div class="icon">
        <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
      </div>
      <div class="text">Contact Us</div>
    </a>
    <%
      if(isLoggedIn)
      {
        %>
          <a class="nav-item" id="nav-logout" href="/logout">
            <div class="icon">
              <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            </div>
            <div class="text">Logout</div>
          </a>
          <%
            if(type!="admin" && type!="recruiter")
            {
              %>
                <a class="nav-item" id="nav-profile" href="student/profile/view"><!--Only student and coordinator have Profile-->
                  <div class="icon">
                    <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                  </div>
                  <div class="text">Profile</div>
                </a>
              <%
            }
          %>
        <%
      }
      else
      {
        %>
          <a class="nav-item" id="nav-login" href="/login">
            <div class="icon">
              <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
            </div>
            <div class="text">Login</div>
          </a>
          <a class="nav-item" id="nav-signup" href="/register">
            <div class="icon">
              <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="<%-color%>" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
            </div>
            <div class="text">Sign Up</div>
          </a>
        <%
      }
    %>
  </div>
</nav>
