<div class="external">
  <div class="external-job-search-result" id="external-job-search-result">
    <%
      if(jobs.length>0)
      {
        const ICON={
          trainee:`<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>`,
          job:`<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>`,
          internship:`<svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>`
        };
        jobs.forEach(job=>{
          website=(job.data.website.startsWith("http")?job.data.website:`http://${job.data.website}`)
          %>
            <div class="external-job">
              <div class="top">
                <a class="company" target="_blank" href="<%-website%>">
                  <%-ICON[job.data.job.type]%>
                  <div class="name"><%-job.data.name%></div>
                </a>
                <div class="title"><%-job.data.job.title%></div>
              </div>
              <div class="apply">
                <div class="short">
                  <div class="type thick"><%-job.data.job.type%></div>
                  <div class="location"><i>Closes on</i>&nbsp;&nbsp;&nbsp;<b><%-new Date(job.data.job.date).toString().split(" ").splice(0,4).join("&nbsp;-&nbsp;")%></b></div>
                </div>
                <div class="description">
                  <h3>Description</h3>
                  <p><%-job.data.job.description%></p>
                  <p>Rounds : <%-job.data.job.rounds%></p>
                </div>
                <div class="details details-inverse">
                  <%
                    job.data.job.mhskills=job.data.job.mhskills.filter(skill=>skill!="");
                    if(job.data.job.mhskills.length>0)
                    {
                      %>
                        <h3>Must have Skills</h3>
                        <p class="skill-wrap">
                          <%
                            job.data.job.mhskills.forEach(skill=>{
                              let cls=skills.includes(skill)?"skill-true":"skill-false";
                              let ttl=cls=="skill-true"?"You have this Skill":"You Don't have this skill";
                              %>
                                <span class="skill <%-cls%>" title="<%-ttl%>"><%-skill%></span>
                              <%
                            });
                          %>
                        </p>
                      <%
                    }
                    job.data.job.ghskills=job.data.job.ghskills.filter(skill=>skill!="");
                    if(job.data.job.ghskills.length>0)
                    {
                      %>
                        <h3>Good to have Skills</h3>
                        <p class="skill-wrap">
                          <%
                            job.data.job.ghskills.forEach(skill=>{
                              let cls=skills.includes(skill)?"skill-true":"skill-false";
                              let ttl=cls=="skill-true"?"You have this Skill":"You Don't have this skill";
                              %>
                                <span class="skill <%-cls%>" title="<%-ttl%>"><%-skill%></span>
                              <%
                            });
                          %>
                        </p>
                      <%
                    }
                  %>
                </div>
                <%
                  if(!job.applied)
                  {
                    %>
                      <button type="button" class="apply-button" target="<%-job.email%>">
                        <span>Apply</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
                      </button>
                    <%
                  }
                  else
                  {
                    %>
                      <div class="applied">Applied</div>
                    <%
                  }
                %>
              </div>
            </div>
          <%
        });
      }
      else
      {
        %>
          <div class="external-job">
            <div class="top">
              <a class="company" href="">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f44336" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
              </a>
              <div class="type thick errorText">No Jobs Posted</div>
            </div>
          </div>
        <%
      }
    %>
    <div class="spacer"></div>
  </div>
</div>
