<div class="dashboard">
  <div class="wide">
    <div class="icon-list">
      <a href="/home" class="icon-wrapper">
        <div class="icon">
          <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
        </div>
        <div class="title">Home</div>
        <div class="subtitle">Main Home</div>
      </a>
      <a href="/statistics" class="icon-wrapper">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
        </div>
        <div class="title">Statistics</div>
        <div class="subtitle">Visualize</div>
      </a>
      <a href="/gallery" class="icon-wrapper">
        <div class="icon">
          <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
        </div>
        <div class="title">Gallery</div>
        <div class="subtitle">Pictures</div>
      </a>
      <a href="/team" class="icon-wrapper">
        <div class="icon">
          <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
        </div>
        <div class="title">Team</div>
        <div class="subtitle">Coordinators</div>
      </a>
      <a href="/contact" class="icon-wrapper">
        <div class="icon">
          <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
        </div>
        <div class="title">Contact</div>
        <div class="subtitle">Help</div>
      </a>
      <a href="/logout" class="icon-wrapper">
        <div class="icon">
          <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
        </div>
        <div class="title">Logout</div>
        <div class="subtitle">Exit</div>
      </a>
    </div>
    <div class="listcontainer">
      <div class="card rounded bg-highlighted link" data-target="job">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
        <div class="title">Post Job</div>
      </div>
      <div class="card rounded white-light link" onclick="window.open('/team');">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        <div class="title">Coordinators</div>
      </div>
      <div class="card subgrid">
        <%
          if(recruiteraccepted && !adminaccepted)
          {
            %>
              <div class="subcard rounded link" data-target="schedule"><!--Reschedule also goes to schedule-->
                <div class="icon">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                </div>
                <div class="content">
                  <div class="title title-large">Reschedule</div>
                  <div class="title">Waiting Admin response</div>
                </div>
              </div>
            <%
          }
          else
          {
            %>
              <div class="subcard rounded link" data-target="schedule">
                <div class="icon">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                </div>
                <div class="content">
                  <div class="title title-large">Schedule Interview</div>
                  <div class="title"><%-(adminaccepted && recruiteraccepted)?`Scheduled`:(adminaccepted && !recruiteraccepted)?"Admin Requested new Date":"Request Schedule"%></div>
                </div>
              </div>
            <%
          }
        %>
        <div class="subcard rounded link" data-target="students">
          <div class="icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
          </div>
          <div class="content">
            <div class="title title-large">View Students</div>
            <div class="title">View &amp; recruit applied Students</div>
          </div>
        </div>
        <div class="subcard rounded link" onclick="window.open('/statistics');">
          <div class="icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
          </div>
          <div class="content">
            <div class="title title-large">Statistics</div>
            <div class="title">View Statistics</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="subcard rounded equal link" onclick="window.open('/contact');">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
        </div>
        <div class="content">
          <div class="title title-large">Help</div>
          <div class="title">Have any Question ? Contact Us</div>
        </div>
      </div>
      <!-- <div class="subcard rounded equal link" data-target="mcq">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
        </div>
        <div class="content">
          <div class="title title-large">MCQ</div>
          <div class="title">Add Aptitude Round</div>
        </div>
      </div> -->
      <div class="subcard rounded equal link" onclick="window.open('/Gallery');"><!--Select also goes to students-->
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
        </div>
        <div class="content">
          <div class="title title-large">Gallery</div>
          <div class="title">View images in Gallery</div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-container">
    <div class="notificationcontainer">
      <div class="notifytitle">Notification</div>
      <div class="notifycontainer">
        <%
          if(notifications.length>0)
          {
            notifications.forEach(message=>{
              %>
                <div class="notification notification-<%-message.type%>">
                  <div class="title"><%-message.name%></div>
                  <div class="desc"><%-message.message%></div>
                  <div class="from"><%-message.from%></div>
                  <div class="time"><%-new Date(message.date).toLocaleDateString("en-US")%></div>
                </div>
              <%
            });
          }
          else
          {
            %>
              <div class="notification notification-general">
                <div class="title">System</div>
                <div class="desc">You have no notifications</div>
                <div class="from">System</div>
                <div class="time"><%-new Date().toLocaleDateString("en-US")%></div>
              </div>
            <%
          }
        %>
      </div>
    </div>
    <div class="gradcontainer grad" onclick="window.open('/about');">
      <div class="mainwrapper">
          <div class="icon">
            <svg width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
          </div>
          <div class="wrapper">
            <div class="title">About Us</div>
            <div class="desc">Group - 12</div>
          </div>
      </div>
    </div>
  </div>
</div>
