<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/student/new-profile/style.css">
    <link rel="stylesheet" href="../../static/style/nav.css">
    <script src="../../static/script/student/new-profile/script.js"></script>
  </head>
  <body>
    <video muted autoplay loop poster="../../static/videos/student-new.png" class="bg">
      <source src="../../static/videos/student-new.mp4" type="video/mp4">
    </video>
    <!--Navigation Bar Start-->
      <%- include("../partials/nav.ejs",{
        isLoggedIn,
        type,
        color:"#FFFFFF"
      }); %>
    <!--Navigation Bar End-->
    <div class="container">
      <div class="wrapper">
        <div class="top">
          <div class="progress">
            <div class="pro">
              <%
                var cls;
                for(let i=1;i<18;i++)
                {
                  if(i==1 && verified)
                  {
                    cls="active-box no-visit";
                  }
                  else
                  {
                    cls="";
                  }
                  %>
                    <a href="#box-<%-i%>" class="<%-cls%>"><%-i%><span></span></a>
                  <%
                }
              %>
            </div>
          </div>
        </div>
        <form class="main" method="POST" action="" enctype="multipart/form-data">
          <%
            var hide=verified?" hidden":"";
          %>
          <div class="box<%-hide%>">
            <a class="a-box" id="box-1"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="timers">
                    <svg class="timer minute-timer" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="100%">
                          <stop offset="0%" style="stop-color:#29B6F6;stop-opacity:1" />
                          <stop offset="100%" style="stop-color:#0D47A1;stop-opacity:1" />
                        </linearGradient>
                      </defs>
                      <circle cx="50" cy="50" r="45" fill="url(#grad)" stroke="rgba(26,35,126,0.5)" stroke-weight="1"/>
                      <path id="svg_minute_path" fill="none" stroke-linecap="round" stroke-width="8" stroke="#FFFFFF" stroke-dasharray="0,220" d="M50 15 a 35 35 0 0 1 0 70 a 35 35 0 0 1 0 -70"/>
                      <text id="svg_minute_text" x="50" y="50" text-anchor="middle" font-family="Roboto,sans-serif" dy="7" font-size="21" fill="#FFFFFF"><%-timeout%> m</text>
                    </svg>
                    <svg class="timer second-timer" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="100%">
                          <stop offset="0%" style="stop-color:#29B6F6;stop-opacity:1" />
                          <stop offset="100%" style="stop-color:#0D47A1;stop-opacity:1" />
                        </linearGradient>
                      </defs>
                      <circle cx="50" cy="50" r="45" fill="url(#grad)" stroke="rgba(26,35,126,0.5)" stroke-weight="1"/>
                      <path id="svg_second_path" fill="none" stroke-linecap="round" stroke-width="8" stroke="#FFFFFF" stroke-dasharray="0,220" d="M50 15 a 35 35 0 0 1 0 70 a 35 35 0 0 1 0 -70"/>
                      <text id="svg_second_text" x="50" y="50" text-anchor="middle" font-family="Roboto,sans-serif" dy="7" font-size="21" fill="#FFFFFF">0 s</text>
                    </svg>
                  </div>
                  <div class="text">An OTP have been sent to your E-Mail ID. Check your E-Mail and enter the OTP to verify that the E-Mail ID you have entered is valid and belongs to you.</div>
                  <button type="button" class="b-yellow resend">Resend</button>
                </div>
              </div>
              <div class="tab" id="first-tab">
                <div class="row">
                  <div class="title">Verify Account</div>
                </div>
                <div class="otp-container">
                  <%
                    for(let i=0;i<6;i++)
                    {
                      %>
                        <input type="text" maxlength="1" id="otp-<%-(i+1)%>" autocomplete="off">
                      <%
                    }
                  %>
                </div>
                <div class="message message-box-1"></div>
                <div class="row">
                  <button type="button" class="b-red" onclick="clearOtpText();">Clear</button>
                  <button type="button" class="b-blue" id="verify-otp">Verify</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-2"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg id="alt-profile-pic" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                      <img class="real-preview" onclick="selectFile('profilepic');"></img>
                    </div>
                  </div>
                  <div class="text">Set up your profile by adding basic details. Note: These details will be visible publically</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">Profile</div>
                </div>
                <div class="row">
                  <input type="text" name="name" placeholder="Name" id="name" autocomplete="off">
                </div>
                <div class="row">
                  <textarea name="bio" placeholder="About you" maxlength="200" id="bio"></textarea>
                </div>
                <div class="row">
                  <input type="file" name="profilepic" accept="image/*" id="profilepic" onchange="selectedProfilePic(this);">
                  <div class="file" id="view-profilepic">
                    <div class="desc">Profile Picture</div>
                    <div class="button" onclick="selectFile('profilepic');" tabindex="1">Select</div>
                  </div>
                </div>
                <div class="row">
                  <div class="message" id="message-box-2"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toThirdPage();" id="box-2-next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-3"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                    </div>
                  </div>
                  <div class="text">Complete Profile by adding some basic details for contact.</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">Personal</div>
                </div>
                <div class="row">
                  <input type="text" name="phone" placeholder="Phone Number" id="phone" maxlength="10">
                </div>
                <div class="row gray">
                  <div class="input">
                    <input type="radio" name="gender" id="gender-male">
                    <label for="gender-male">Male</label>
                  </div>
                  <div class="input">
                    <input type="radio" name="gender" id="gender-female">
                    <label for="gender-female">Female</label>
                  </div>
                  <div class="input">
                    <input type="radio" name="gender" id="gender-other">
                    <label for="gender-other">Other</label>
                  </div>
                </div>
                <div class="row">
                  <label for="dob" class="label-max">Date of Birth</label>
                  <input type="date" name="dob" id="dob">
                </div>
                <div class="row">
                  <div class="message" id="message-box-3"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toFourthPage();" id="box-3-next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-4"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                    </div>
                  </div>
                  <div class="text">Complete Profile by adding some details of current College details.</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">Admission</div>
                </div>
                <div class="row">
                  <input type="text" name="admnumber" placeholder="Admission Number" id="admnumber">
                </div>
                <div class="row">
                  <select name="admtype" id="admtype" onchange="this.blur();">
                    <option disabled selected value> -- Admission Type -- </option>
                    <option value="regular">Regular</option>
                    <option value="part time">Part Time</option>
                    <option value="lateral">Lateral</option>
                    <option value="transfered">Transferred</option>
                  </select>
                </div>
                <div class="row">
                  <input type="number" name="admyear" placeholder="Admission Year" id="admyear">
                </div>
                <div class="row">
                  <input type="file" name="idcard" accept="image/*,.pdf" id="idcard" onchange="selectedImageOrPdf(this,'view-idcard',4);">
                  <div class="file" id="view-idcard">
                    <div class="desc">ID Card</div>
                    <div class="button" onclick="selectFile('idcard');" tabindex="1">Select</div>
                  </div>
                </div>
                <div class="row">
                  <div class="message" id="message-box-4"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toFifthPage();" id="box-4-next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-5"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                    </div>
                  </div>
                  <div class="text">Complete Profile by adding some details of current College details.</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">Course</div>
                </div>
                <div class="row">
                  <select name="course" id="course" onchange="this.blur();">
                    <option disabled selected value> -- (Dummy) Current Course -- </option>
                    <option value="dummy">dummy COURSE 1</option>
                  </select>
                </div>
                <div class="row">
                  <select name="semester" id="semester" onchange="this.blur();">
                    <option disabled selected value> -- (Dumy)Current Semester -- </option>
                    <option value="dummy">dummy COURSE 2</option>
                  </select>
                </div>
                <div class="row">
                  <label for="passout" class="label-max">Passout month & year</label>
                  <input type="month" name="passout" id="passout">
                </div>
                <div class="row">
                  <div class="message" id="message-box-5"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toSixthPage();" id="box-5-next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-6"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                    </div>
                  </div>
                  <div class="text">Complete Profile by adding SSLC details.</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">SSLC</div>
                </div>
                <div class="row">
                  <select name="sslcboard" id="sslcboard" onchange="this.blur();">
                    <option disabled selected value> -- Select Board -- </option>
                    <option value="state" value="state">State</option>
                    <option value="cbse" value="cbse">CBSE</option>
                    <option value="icse" value="icse">ICSE</option>
                  </select>
                </div>
                <div class="row">
                  <input type="text" name="sslcschool" id="sslcschool" placeholder="School">
                </div>
                <div class="row">
                  <input type="number" name="sslcpercent" id="sslcpercent" placeholder="Marks - Percentage (%)">
                </div>
                <div class="row">
                  <label for="sslcpassdate" class="label-max">Passout Date</label>
                  <input type="month" name="sslcpassdate" id="sslcpassdate">
                </div>
                <div class="row">
                  <input type="file" name="sslccertificate" accept="image/*,.pdf" id="sslccertificate" onchange="selectedImageOrPdf(this,'view-sslccertificate',6);">
                  <div class="file" id="view-sslccertificate">
                    <div class="desc">Certificate</div>
                    <div class="button" onclick="selectFile('sslccertificate');" tabindex="1">Select</div>
                  </div>
                </div>
                <div class="row">
                  <div class="message" id="message-box-6"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toSeventhPage();" id="box-6-next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-7"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                    </div>
                  </div>
                  <div class="text">Complete Profile by adding Plus Two details.</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">Plus Two</div>
                </div>
                <div class="row">
                  <select name="plustwoboard" id="plustwoboard" onchange="this.blur();">
                    <option disabled selected value> -- Select Board -- </option>
                    <option value="state" value="state">State</option>
                    <option value="cbse" value="cbse">CBSE</option>
                    <option value="icse" value="icse">ICSE</option>
                  </select>
                </div>
                <div class="row">
                  <input type="text" name="plustwoschool" id="plustwoschool" placeholder="School">
                </div>
                <div class="row">
                  <input type="number" name="plustwopercent" id="plustwopercent" placeholder="Marks - Percentage (%)">
                </div>
                <div class="row">
                  <label for="plustwopassdate" class="label-max">Passout Date</label>
                  <input type="month" name="plustwopassdate" id="plustwopassdate">
                </div>
                <div class="row">
                  <input type="file" name="plustwocertificate" accept="image/*,.pdf" id="plustwocertificate" onchange="selectedImageOrPdf(this,'view-plustwocertificate',7);">
                  <div class="file" id="view-plustwocertificate">
                    <div class="desc">Certificate</div>
                    <div class="button" onclick="selectFile('plustwocertificate');" tabindex="1">Select</div>
                  </div>
                </div>
                <div class="row">
                  <div class="message" id="message-box-7"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toEightthPage();" id="box-7-next">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="box">
            <a class="a-box" id="box-8"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="image">
                    <div class="preview">
                      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                    </div>
                  </div>
                  <div class="text">Complete Profile by adding Diploma details, if you have one (Optional).</div>
                </div>
              </div>
              <div class="tab">
                <div class="row">
                  <div class="title">Diploma</div>
                </div>
                <div class="row row-left gray">
                  <input type="checkbox" name="diploma" id="diploma" onchange="toggleDiploma(this);">
                  <label for="diploma">I have Diploma</label>
                </div>
                <div class="dis-wrapper disabled" id="diploma-diabler">
                  <div class="row">
                    <input type="text" name="diplomacourse" id="diplomacourse" placeholder="Course">
                  </div>
                  <div class="row">
                    <input type="text" name="diplomacollege" id="diplomacollege" placeholder="College">
                  </div>
                  <div class="row">
                    <input type="number" name="diplomapercent" id="diplomapercent" placeholder="Marks - Percentage (%)">
                  </div>
                  <div class="row">
                    <label for="diplomapassdate" class="label-max">Passout Date</label>
                    <input type="month" name="diplomapassdate" id="diplomapassdate">
                  </div>
                  <div class="row">
                    <input type="file" name="diplomacertificate" accept="image/*,.pdf" id="diplomacertificate" onchange="selectedImageOrPdf(this,'view-diplomacertificate',8);">
                    <div class="file" id="view-diplomacertificate">
                      <div class="desc">Certificate</div>
                      <div class="button" onclick="selectFile('diplomacertificate');" tabindex="1">Select</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="message" id="message-box-8"></div>
                </div>
                <div class="row">
                  <button type="button" class="b-green" onclick="toNinethPage();" id="box-8-next">Next</button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <script>
      <%
        var hash=verified?2:1;
      %>
      window.location.hash="#box-<%-hash%>";
    </script>
  </body>
</html>
