<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/student/new-profile/style.css">
    <link rel="stylesheet" href="../../static/style/nav.css">
    <script src="../../static/script/student/new-profile/script.js"></script>
  </head>
  <body>
    <video muted autoplay loop poster="../../static/videos/student-new.png" class="bg">
      <source src="../../static/videos/student-new.mp4" type="video/mp4">
    </video>
    <!--Navigation Bar Start-->
      <%- include("../partials/nav.ejs",{
        isLoggedIn,
        type,
        color:"#FFFFFF"
      }); %>
    <!--Navigation Bar End-->
    <div class="container">
      <div class="wrapper">
        <div class="top">
          <div class="progress">
            <div class="pro">
              <%
                var cls;
                for(let i=1;i<16;i++)
                {
                  if(i==1 && verified)
                  {
                    cls="active-box no-visit";
                  }
                  else
                  {
                    cls="";
                  }
                  %>
                    <a href="#box-<%-i%>" class="<%-cls%>"><%-i%></a>
                  <%
                }
              %>
            </div>
          </div>
        </div>
        <form class="main" method="POST" action="">
          <%
            var hide=verified?" hidden":"";
          %>
          <div class="box<%-hide%>">
            <a class="a-box" id="box-1"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="timers">
                    <svg class="timer minute-timer" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="100%">
                          <stop offset="0%" style="stop-color:#29B6F6;stop-opacity:1" />
                          <stop offset="100%" style="stop-color:#0D47A1;stop-opacity:1" />
                        </linearGradient>
                      </defs>
                      <circle cx="50" cy="50" r="45" fill="url(#grad)" stroke="rgba(26,35,126,0.5)" stroke-weight="1"/>
                      <path id="svg_minute_path" fill="none" stroke-linecap="round" stroke-width="8" stroke="#FFFFFF" stroke-dasharray="0,220" d="M50 15 a 35 35 0 0 1 0 70 a 35 35 0 0 1 0 -70"/>
                      <text id="svg_minute_text" x="50" y="50" text-anchor="middle" font-family="Roboto,sans-serif" dy="7" font-size="21" fill="#FFFFFF"><%-timeout%> m</text>
                    </svg>
                    <svg class="timer second-timer" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="100%">
                          <stop offset="0%" style="stop-color:#29B6F6;stop-opacity:1" />
                          <stop offset="100%" style="stop-color:#0D47A1;stop-opacity:1" />
                        </linearGradient>
                      </defs>
                      <circle cx="50" cy="50" r="45" fill="url(#grad)" stroke="rgba(26,35,126,0.5)" stroke-weight="1"/>
                      <path id="svg_second_path" fill="none" stroke-linecap="round" stroke-width="8" stroke="#FFFFFF" stroke-dasharray="0,220" d="M50 15 a 35 35 0 0 1 0 70 a 35 35 0 0 1 0 -70"/>
                      <text id="svg_second_text" x="50" y="50" text-anchor="middle" font-family="Roboto,sans-serif" dy="7" font-size="21" fill="#FFFFFF">0 s</text>
                    </svg>
                  </div>
                  <div class="text">An OTP have been sent to your E-Mail ID. Check your E-Mail and enter the OTP to verify that the E-Mail ID you have entered is valid and belongs to you.</div>
                  <button type="button" class="b-yellow resend">Resend</button>
                </div>
              </div>
              <div class="tab" id="first-tab">
                <div class="row">
                  <div class="title">Verify Account</div>
                </div>
                <div class="row otp-container">
                  <%
                    for(let i=0;i<6;i++)
                    {
                      %>
                        <input type="text" maxlength="1" id="otp-<%-(i+1)%>" autocomplete="off">
                      <%
                    }
                  %>
                </div>
                <div class="message message-otp"></div>
                <div class="row">
                  <button type="button" class="b-red" onclick="clearOtpText();">Clear</button>
                  <button type="button" class="b-blue" id="verify-otp">Verify</button>
                </div>
                <!-- <div class="row">
                  <a href="#box-2">Next</a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="box">
            <a class="a-box" id="box-2"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="text">Second one</div>
                </div>
              </div>
              <div class="tab">
                Form Elements will appear here
                <a href="#box-3">Next</a>
              </div>
            </div>
          </div>
          <div class="box">
            <a class="a-box" id="box-3"></a>
            <div class="fit">
              <div class="info">
                <div class="cen">
                  <div class="text">Third one</div>
                </div>
              </div>
              <div class="tab">
                Form Elements will appear here
                <a href="#box-1">Next</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
