<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../../static/style/student/resume.css">
    <link rel="stylesheet" href="../../static/style/default-values.css">
  </head>
  <body>
    <div class="block hvcenter">
      <img class="pic" src="../../data/profilepic/<%=data.email%>.<%-data.pic_ext%>">
    </div>
    <div class="block flex-block">
      <div class="row huge"><%-data.data.name%></div>
      <div class="row"><%-data.data.about%></div>
      <div class="row"><%-data.data.gender%></div>
      <div class="row"><%-data.data.dob%></div>
    </div>
    <div class="block flex-block">
      <div class="row email"><%-data.email%></div>
      <div class="row"><%-data.data.phone%></div>
      <div class="row"><%-data.data.admission.course%></div>
      <div class="row">Sem - <%-data.data.admission.semester%></div>
    </div>
    <div class="block flex-block">
      <div class="row"><%-data.data.admission.number%></div>
      <div class="row"><%-data.data.admission.engineering==1?"Engineering":"Non Engineering"%></div>
      <div class="row">Arrears - <%-data.data.admission.arrears%></div>
      <div class="row">Passout - <%-data.data.admission.passdate%></div>
    </div>
    <div class="block flex-block">
      <div class="row medium">SSLC</div>
      <div class="row upper"><%-data.data.education.sslc.board%></div>
      <div class="row"><%-data.data.education.sslc.school%></div>
      <div class="row huge"><%-data.data.education.sslc.mark%> %</div>
      <div class="row right date"><%-data.data.education.sslc.passdate%></div>
    </div>
    <div class="block flex-block">
      <div class="row medium">Plus Two</div>
      <div class="row upper"><%-data.data.education.plustwo.board%></div>
      <div class="row"><%-data.data.education.plustwo.school%></div>
      <div class="row huge"><%-data.data.education.plustwo.mark%> %</div>
      <div class="row right date"><%-data.data.education.plustwo.passdate%></div>
    </div>
    <%
      data.data.education.course.forEach(course=>{
        %>
          <div class="block flex-block">
            <div class="row medium upper"><%-course.type%></div>
            <div class="row"><%-course.name%></div>
            <div class="row"><%-course.college%></div>
            <div class="row huge"><%-course.cgpa%> <span class="lower medium">cgpa</span></div>
            <div class="row right date"><%-course.passdate%></div>
          </div>
        <%
      });
    %>
    <%
      [...data.data.education.experience,...data.data.education.achievement].forEach(exp=>{
        %>
          <div class="block flex-block">
            <div class="row medium upper"><%-exp.type%></div>
            <div class="row"><%-exp.title%></div>
            <div class="row"><%-exp.description%></div>
            <div class="h-flex">
              <div class="row right date"><%-exp.from%></div>
              <div class="row right date"><%-exp.to%></div>
            </div>
          </div>
        <%
      });
    %>
    <div class="block flex-block">
      <div class="row medium upper">Skills</div>
      <div class="row"><%-data.data.education.skills.join(", ")%></div>
    </div>
  </body>
</html>
